HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Archivos compilados de Java
*.class
*.jar
*.war
*.ear

# Directorio de build de Maven
/target/

# Directorios de build de Gradle
/build/
.gradle/

# Archivos de IDE (IntelliJ)
.idea/


# Archivos de IDE (Eclipse)

.settings/



# Logs
*.log
logs/

# Archivos del sistema operativo
.DS_Store
Thumbs.db


